[core]
	editor = emacs --no-window-system --quick
	fileMode = true
	excludesfile = ~/.gitignore_global
[user]
	name = Yue Zhu
	useConfigOnly = true
	email = 1224535+yuezhu@users.noreply.github.com
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[delta]
	side-by-side = true
	navigate = true
